body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container{
    margin: 0px auto;
    padding: 0px 16px;
    align-items: center;
    justify-content: center;
    max-width: 1640px;
    max-height: 1080px;
    /* width: 1640px; */
    height: 100%;
}

.head{
    position: fixed;
    justify-content: center;
    width: 1610px;
    height: 92px;
    z-index: 9999;
    margin-top: 16px;
}

.header{
    width: 100%;
    /* height: 100%; */
    background-color: rgba(65, 64, 77, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    padding: 16px;
}

.header__div1__img{
    width: 247px;
    /* height: 46px; */
}

.header__div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 683px;
    height: 36px;
}

.header__div2__btn{
    /* font-family: 'Work Sans'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    background-color: rgba(65, 64, 77, 1);
    border: 2px solid rgba(65, 64, 77, 1);

    border-radius: 16px;
    padding: 8px 16px;

    width: auto;
    height: 36px;
}

.header__div2__btn:hover{
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 0px auto;
}

.header__div2__btn:active{
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 0px auto;
}

.header__div3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__div3__img{
    width: 30px;
    height: 30px;
}

.header__div3__p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin: 0px;
    width: 190px;
    align-items: center;
}

.header__div4{
    width: 276px;
    height: 60px;
}

.header__div4__btn{
    background-color: rgba(54, 122, 202, 1);
    border-radius: 16px;
    padding: 18px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    gap: 10px;
    box-shadow: 0px 12px 100px rgba(180, 207, 238, 0.6);

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    border: 0px
}

.header__div4__btn:active{
    background: rgba(55, 146, 253, 1)
}

.frag1{
    background-image: url("images/background_image.png");
    width: 100%;
    height: 100vh;
}

.frag1__main-div{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.frag1__main-div__bg_blur{
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 300px;
    background-color: #FFFFFF;
    filter: blur(180px);
    border-radius: 50%;
    display: inline-block;
    transform: translate(700px, 100px);
    z-index: 3;
}

.frag1__main-div__men-div{
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    /* height: auto; */
    position: relative;
    right: -809px;
    top: 144px;
    max-height: 810px;
}

.frag1__main-div__men-img{
    width: auto;
    height: auto;
    max-width: 735px;
    max-height: 810px;
}

.frag1__main-div__men-div__div{
    width: 320px;
    height: auto;
    max-height: 335px;
    position: absolute;
    transform: translate(320px, -425px);
    border-radius: 16px;
    background-color: rgba(242, 242, 242, 0.8);
    padding: 30px 10px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.frag1__main-div__men-div__div-title1{
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(179, 179, 179, 1);
}
.frag1__main-div__men-div__div-title1-p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #444C54;
    margin: 0px;
}

.frag1__main-div__men-div__div-title2-div{
    width: 100%;
    height: auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.frag1__main-div__men-div__div-title2-div-p1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
    letter-spacing: -0.005em;
    color: #444C54;
    margin: 0px;
}

.frag1__main-div__men-div__div-title2-div-p2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
    letter-spacing: -0.005em;
    color: #444C54;
    margin: 0px;
}

.frag1__main-div__men-div__div-title3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
}

.frag1__main-div__men-div__div-title3-div1-p1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.005em;
    color: #367ACA;
    margin: 0px;
}

.frag1__main-div__men-div__div-title3-div1-p2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.005em;
    color: #444C54;
    margin: 0px;
}

.frag1__main-div__men-div__div-title3-div2-p{
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.005em;
    color: #367ACA;
    margin: 0px;
}

.frag1__main-div__men-div__rectangle{
    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    border-bottom: 35px solid rgba(242, 242, 242, 0.8);
    max-width: 0px;
    max-height: 0px;
    transform: rotate(-90deg) translate(50px, -44.5px);
    position: relative;
}

.frag1__main-div__dental-implantation{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: auto;
    height: auto;
    max-height: 207px;
    padding: 30px 60px;
    position: absolute;
    transform: translate(190px, 187px);    
    z-index: 999;
}

.frag1__main-div__dental-implantation__p1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 120%;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #367ACA;
    margin: 0px;
}

.frag1__main-div__dental-implantation__p2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 120%;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgb(78, 88, 98);
    margin: 0px
}

.frag1__main-div__dental-implantation__p3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 120%;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgb(78, 88, 98);
    margin: 0px
}

.frag1__main-div__dental-implantation__btn{
    width: 543px;
    height: 60px;
    background: #367ACA;
    box-shadow: 0px 12px 100px #B4CFEE;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 19.5px;
    border: 0px;
}

.frag1__main-div__dental-implantation__btn:active{
    background: rgba(55, 146, 253, 1);
}

.frag1__main-div__dental-implantation__btn-img{
    width: 24px;
    height: 24px;
}

.frag1__main-div__dental-implantation__btn-p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.frag1__main-div__div-tooth_implant{
    position: relative;
    transform: translate(-230px, -105px);
    

}

.frag1__main-div__div-tooth_implant-img{
    width: 345px;
    height: 520px;
}

.frag1__main-div__info{
    width: 392px;
    height: auto;
    max-height: 166px;
    background-color: #E7A129;
    border-radius: 16px;
    padding: 15px 30px;
    position: absolute;
    transform: translate(275px, 550px);
    z-index: 0;
}

.frag1__main-div__info-p{
    font-family: 'Work Sans';
    font-style: normal;
    /* font-weight: 800; */
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FEFFDF;
    margin: 0px;
}

.frag1__main-div__info-div{
    border: 3px dashed #FEFFDF;
    border-radius: 16px;
    
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 6px;

}

.frag1__main-div__info-div-p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    color: #FEFFDF;
    text-shadow: 0px 4px 16px rgba(255, 255, 255, 0.6);
    margin: 0px;   
}

.frag1__main-div__osstem{
    width: 320px;
    height: auto;
    border-radius: 16px;
    padding: 10px;
    background-color: #FFFFFF;
    transform: rotate(-4deg) translate(150px);
    position: relative;
    padding: 10.68px;
}

.frag1__main-div__osstem__content{
    display: flex;
    align-items: center;
}

.frag1__main-div__osstem__content__img{
    width: 77.86px;
    height: 77.86px;
}

.frag1__main-div__osstem__content__div-p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #2D2D2D;
    margin: 0px;
    
}

.frag1__main-div__osstem__content__div-div{
    background-color: rgba(231, 161, 41, 0.1);
    padding: 10.68px;
    border-radius: 12px;
    gap: 10px;
}

.frag1__main-div__osstem__content__div-div-p{
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: rgba(116, 116, 116, 1);
    margin: 0px;
}

.frag1__main-div__departments{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 10px 13.5px;
    position: fixed;
    background: rgba(65, 64, 77, 1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.10);
    border-radius: 16px;
    max-width: 361px;
    max-height: 52px;
    width: auto;
    height: auto;
    top: 108px;
    transform: translate(35px);
    z-index: 9999;
}

.frag1__main-div__departments__div1{
    height: 24px;
}

.frag1__main-div__departments__div1__img{
    width: 24px;
    height: 24px;
}

.frag1__main-div__departments__div2__p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    padding: 8px 6px;
    margin: 0px;
}

.frag1__main-div__departments__div3{
    height: 18px;
}

.frag1__main-div__departments__div3__img{
    width: 18px;
    height: 18px;
    align-self: center;
}




@media (max-width: 1200px){
    body{
        background-color: #E7A129;
    }
}
